<?php
/**@var PartViewer $partViewer */
?>
<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                TECHNO<span class="logo-media">MEDIA</span>
            </a>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#htmlToPdf">Конвертация HTML в PDF</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API публикации в соц. сети<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Список методов</li>
                        <li>
                            <a href="#queue">Опубликовать сылку</a>
                        </li>
                        <li>
                            <a href="#check">Проверить сылку</a>
                        </li>
                        <li>
                            <a href="#getChannel">Обзор потока</a>
                        </li>
                        <li>
                            <a href="#groupPublicationFacebook">Публикация в группу facebook.com</a>
                        </li>
                        <li>
                            <a href="#pagePublicationFacebook">Публикация на страницу facebook.com</a>
                        </li>
                        <li>
                            <a href="#groupPublicationVkontakte">Публикация в группу vk.com</a>
                        </li>
                        <li>
                            <a href="#groupPublicationOk">Публикация в группу ok.ru</a>
                        </li>
                        <li>
                            <a href="#uploadVideo">Публикация видео в социальной сети</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API для ZENO <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Список методов</li>
                        <li>
                            <a href="#getFreeBot" >Получить пользователя</a>
                        </li>
                        <li>
                            <a href="#takeBot">Занять пользователя</a>
                        </li>
                        <li>
                            <a href="#ridBot">Освободить пользователя</a>
                        </li>
                        <li>
                            <a href="#updateBot">Обновление пользователя</a>
                        </li>
                        <li>
                            <a href="#getRecentActivity">Список выполенных действия</a>
                        </li>
                        <li>
                            <a href="#createBotAction">Создание действия пользователя</a>
                        </li>
                        <li>
                            <a href="#stoppedBotAction">Остановить действие пользователя</a>
                        </li>
                        <li>
                            <a href="#getGroupByUrl">Получение группы по URL</a>
                        </li>
                        <li>
                            <a href="#getInviteGroupByBotGroupId">Получение группы для приглашения</a>
                        </li>
                        <li>
                            <a href="#getGroupUrl">Получение ссылок на наши группы</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.container -->
</nav>
<div class="container" style="margin-top: 60px">
    <div class="row">
        <div class="col-md-12">
            <?php $partViewer->view('/services/methods/queue'); ?>
            <?php $partViewer->view('/services/methods/check'); ?>
            <?php $partViewer->view('/services/methods/getChannel'); ?>
            <?php $partViewer->view('/services/methods/groupPublicationFacebook'); ?>
            <?php $partViewer->view('/services/methods/pagePublicationFacebook'); ?>
            <?php $partViewer->view('/services/methods/groupPublicationVkontakte'); ?>
            <?php $partViewer->view('/services/methods/groupPublicationOk'); ?>
            <?php $partViewer->view('/services/methods/uploadVideo'); ?>
            <?php $partViewer->view('/services/methods/htmlToPdf'); ?>
            <?php $partViewer->view('/services/methods/getFreeBot'); ?>
            <?php $partViewer->view('/services/methods/takeBot'); ?>
            <?php $partViewer->view('/services/methods/ridBot'); ?>
            <?php $partViewer->view('/services/methods/updateBot'); ?>
            <?php $partViewer->view('/services/methods/getRecentActivity'); ?>
            <?php $partViewer->view('/services/methods/createBotAction'); ?>
            <?php $partViewer->view('/services/methods/stoppedBotAction'); ?>
            <?php $partViewer->view('/services/methods/getGroupByUrl'); ?>
            <?php $partViewer->view('/services/methods/getInviteGroupByBotGroupId');?>

        </div><!--/.col-xs-12.col-sm-9-->
    </div><!--/row-->
    <hr>
    <footer>
        <p>&copy; 2015 TECHNO<span class="logo-media">MEDIA</span><sup>&trade;</sup></p>
    </footer>
</div><!--/.container-->
