<?php
/**@var PartViewer $partViewer */
?>
<?php $partViewer->view('layouts/header'); ?>
<?php $partViewer->view('menu/up_menu'); ?>
<script type="application/javascript">
    let dataGroupOrPage = <?php echo json_encode($partViewer->getModel()->get('pages'));?>;
    let links = <?php echo json_encode($partViewer->getModel()->get('links'));?>;
    let linksCount = <?php echo $partViewer->getModel()->get('linksCount');?>;
</script>
<div id="page-wrapper">
    <div id="managing-transition">

    </div>
</div>

<?php $partViewer->view('html-helper/loader'); ?>
<?php $partViewer->view('layouts/footer'); ?>
<script type="application/javascript">
    ReactDOM.render(
        React.createElement(ManagingTransitionController),
        document.getElementById('managing-transition')
    );
</script>