
<!--<script src="--><?php //echo(Project::getBaseUrl()); ?><!--js/jquery.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/jquery.noty.packaged.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/plugins/metisMenu/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="<?php echo(Project::getBaseUrl())?>js/plugins/dataTables/jquery.dataTables.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/jquery.datetimepicker.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/vk.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/jquery.Jcrop.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/plugins/jquery.form.min.js"></script>

<!-- Technomedia JS -->
<script src="<?php echo(Project::getBaseUrl()); ?>js/technomedia.lang.ru.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/technomedia.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/services.js"></script>

<script src="<?php echo(Project::getBaseUrl()); ?>js/managing.transition.js"></script>



</body>
</html>