<div class="panel panel-default" id="check">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Проверка на доступность публикации сылки </h1></div>
            <div class="panel-body">
                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>materialId</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>link</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        POST
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>secretKey</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>accessToken</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/link?materialId=material id in
                project&link=urlencode(url material)
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                            <pre>
                                <code class="json">
{
    "success":true,
    "access":"limited",
    "data":
        {
            "pages":
                [
                    {
                        "id":"2",
                        "status":"1",
                        "time":"20.05.2016 15:00"
                    }
                ],
            "groups":
                [
                    {
                        "id":"4",
                        "status":"3",
                        "time":"20.05.2016 16:45"
                    },
                    {
                        "id":"2",
                        "status":"1",
                        "time":"20.05.2016 11:25"
                    }
                ]
        },
    "action":"checkLink"
}
                                </code>
                            </pre>
                            <pre>
                                <code>
{
    "success":true,
    "access":"all",
    "action":"checkLink"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>