<div class="panel panel-default" id="createBotAction">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Создание действия пользователя для ZENO</h1></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>token (Ключ доступа)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>botId (ID Пользователя социальной сети)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>activity (ID действия)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/createBotAction/?token=token&botId=id&activity=id
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                <pre>
                    <code class="json">
{
    "success": "boolean(true)",
    "activityId": "integer",
    "action":"createBotAction"
}
                                </code>
                            </pre>
            </div>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                <pre>
                    <code class="json">
{
    "success": "boolean(false)",
    "error" : "char",
    "action":"createBotAction"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>