<div class="panel panel-default" id="getChannel">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Обзор текущего потока </h1></div>
            <div class="panel-body">
                <p>
                    <strong class="text-info">
                        Просмотр групп и страниц из социальных сетей
                    </strong>
                </p>
                <div class="table-responsive">
                    <p>
                        POST
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>secretKey</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>accessToken</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/getChannel
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                            <pre>
                                <code class="json">
{
    "success":true,
    "groups":
        [
            {
                "id":"2",
                "name":"group name",
                "socialNetwork":"vkontakte"
            }
        ],
    "pages":
        [
            {
                "id":"3",
                "name":"page name",
                "socialNetwork":"facebook"
            }
        ],
    "action":"getChannel"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>