<div class="panel panel-default" id="getFreeBot">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Получить пользователя для ZENO</h1></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>token (Ключ доступа)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/getFreeBot/?token=token
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                <pre>
                    <code class="json">
{
    "bot":
    {
        "id": "integer",
        "login": "char",
        "password": "char",
        "proxy":"char",
        "busy": "boolean",
        "floor":"integer",
        "freed_at": "timestamp_tz",
        "social_network_id": "integer"
    },
    "action":"getFreeBot"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>