<div class="panel panel-default" id="groupPublicationVkontakte">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Публикация сылки в Вконтакте в группу</h1></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>id (ID группы в системе)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>link</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>materialType</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>imgUrl</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>publishedAt (в формате m.d.Y H:i)</td>
                            <td>
                                <strong class="text-info">
                                    Не обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>materialId (ID материала в системе)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>postponed (Отложенный)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>imgUrl (сылка на изображение)</td>
                            <td>
                                <strong class="text-info">
                                    Не обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>description (короткое описание)</td>
                            <td>
                                <strong class="text-info">
                                    Не обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <p>
                        POST
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>secretKey</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>accessToken</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/groupPublicationVkontakte?materialId=134201&
                link=urlencode(url material)&materialType=articles&postponed=0&everywhere=0&publishedAt=&id=1
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                            <pre>
                                <code class="json">
{
    "success":true,
    "groupId":1,
    "status":1,
    "action":"pagePublicationFacebook"
}
                                </code>
                            </pre>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/groupPublicationVkontakte?materialId=134201&
                link=urlencode(url material)&materialType=articles&postponed=1&everywhere=0&publishedAt=&id=1&publishedAt=2016-05-23%2017:00
            </p>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                            <pre>
                                <code class="json">
{
    "success":true,
    "groupId":1,
    "status":2,
    "action":"pagePublicationFacebook"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>