<div class="panel panel-default" id="htmlToPdf">
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><h1>Конвертация из <strong>HTML</strong> в <strong>PDF</strong></h1></div>
            <div class="panel-body">

                <div class="table-responsive">
                    <p>
                        GET
                    </p>
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Параметр</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>html (Тело конвертируемого html)</td>
                            <td>
                                <strong class="text-danger">
                                    Обязательный
                                </strong>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="well">
            <h4>Пример</h4>
            <p>
                {http:// or https://}{this domain}/services/htmlToPdf/generated?html=htmlBody
            </p>
        </div>
        <div class="well">
            <a href="https://social.newsteam.ru/services/example">Готовый пример (ajax)</a>
        </div>
        <div class="well">
            <div class="common protocols">
                <h4>Ответ json</h4>
                <pre>
                                <code class="json">
{
    "base64": "char"
}
                                </code>
                            </pre>
            </div>
        </div>
    </div>
</div>