<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div id="html">
    <table class="rating table">
        <tbody><tr>
            <td class="number">1</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/9">
                    Дождь                                        </a>
            </td>
            <td>
                96944                                    </td>
        </tr>
        <tr>
            <td class="number">2</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/30">
                    КоммерсантЪ                                        </a>
            </td>
            <td>
                61615                                    </td>
        </tr>
        <tr>
            <td class="number">3</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/38">
                    Ведомости                                        </a>
            </td>
            <td>
                52450                                    </td>
        </tr>
        <tr>
            <td class="number">4</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/19">
                    НТВ                                        </a>
            </td>
            <td>
                43244                                    </td>
        </tr>
        <tr>
            <td class="number">5</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/35">
                    РБК                                        </a>
            </td>
            <td>
                39549                                    </td>
        </tr>
        <tr>
            <td class="number">6</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/14">
                    Russia Today                                        </a>
            </td>
            <td>
                37554                                    </td>
        </tr>
        <tr>
            <td class="number">7</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/12">
                    Lenta.ru                                        </a>
            </td>
            <td>
                36059                                    </td>
        </tr>
        <tr>
            <td class="number">8</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/15">
                    Вести                                        </a>
            </td>
            <td>
                31820                                    </td>
        </tr>
        <tr>
            <td class="number">9</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/49">
                    Московский комсомолец                                        </a>
            </td>
            <td>
                30452                                    </td>
        </tr>
        <tr>
            <td class="number">10</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/40">
                    РИА Новости                                        </a>
            </td>
            <td>
                29183                                    </td>
        </tr>
        <tr>
            <td class="number">11</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/50">
                    Звезда                                        </a>
            </td>
            <td>
                24316                                    </td>
        </tr>
        <tr>
            <td class="number">12</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/45">
                    Znak.com                                        </a>
            </td>
            <td>
                21284                                    </td>
        </tr>
        <tr>
            <td class="number">13</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/47">
                    Аргументы и Факты                                        </a>
            </td>
            <td>
                19154                                    </td>
        </tr>
        <tr>
            <td class="number">14</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/42">
                    Regnum                                        </a>
            </td>
            <td>
                18844                                    </td>
        </tr>
        <tr>
            <td class="number">15</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/27">
                    Slon.ru                                        </a>
            </td>
            <td>
                17781                                    </td>
        </tr>
        <tr>
            <td class="number">16</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/3">
                    Первый канал                                        </a>
            </td>
            <td>
                17463                                    </td>
        </tr>
        <tr>
            <td class="number">17</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/11">
                    Российская газета                                        </a>
            </td>
            <td>
                16467                                    </td>
        </tr>
        <tr>
            <td class="number">18</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/32">
                    Правда.Ру                                        </a>
            </td>
            <td>
                13387                                    </td>
        </tr>
        <tr>
            <td class="number">19</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/41">
                    Газета.Ru                                        </a>
            </td>
            <td>
                13311                                    </td>
        </tr>
        <tr>
            <td class="number">20</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/22">
                    Ура.ру                                        </a>
            </td>
            <td>
                9173                                    </td>
        </tr>
        <tr>
            <td class="number">21</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/34">
                    ИТАР-ТАСС                                        </a>
            </td>
            <td>
                7872                                    </td>
        </tr>
        <tr>
            <td class="number">22</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/43">
                    PolitOnline.Ru                                        </a>
            </td>
            <td>
                6999                                    </td>
        </tr>
        <tr>
            <td class="number">23</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/48">
                    Комсомольская правда                                        </a>
            </td>
            <td>
                5378                                    </td>
        </tr>
        <tr>
            <td class="number">24</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/52">
                    Росбалт                                        </a>
            </td>
            <td>
                5258                                    </td>
        </tr>
        <tr>
            <td class="number">25</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/24">
                    Эхо Москвы                                        </a>
            </td>
            <td>
                5201                                    </td>
        </tr>
        <tr>
            <td class="number">26</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/29">
                    Известия                                        </a>
            </td>
            <td>
                5049                                    </td>
        </tr>
        <tr>
            <td class="number">27</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/44">
                    Ruposters                                        </a>
            </td>
            <td>
                4915                                    </td>
        </tr>
        <tr>
            <td class="number">28</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/5">
                    Интерфакс                                        </a>
            </td>
            <td>
                4648                                    </td>
        </tr>
        <tr>
            <td class="number">29</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/33">
                    Эксперт online                                        </a>
            </td>
            <td>
                4509                                    </td>
        </tr>
        <tr>
            <td class="number">30</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/53">
                    РЕН ТВ                                        </a>
            </td>
            <td>
                4267                                    </td>
        </tr>
        <tr>
            <td class="number">31</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/17">
                    Newsru.com                                        </a>
            </td>
            <td>
                3763                                    </td>
        </tr>
        <tr>
            <td class="number">32</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/2">
                    Взгляд                                        </a>
            </td>
            <td>
                3457                                    </td>
        </tr>
        <tr>
            <td class="number">33</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/6">
                    Фонтанка.ру                                        </a>
            </td>
            <td>
                3295                                    </td>
        </tr>
        <tr>
            <td class="number">34</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/20">
                    Независимая газета                                        </a>
            </td>
            <td>
                2546                                    </td>
        </tr>
        <tr>
            <td class="number">35</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/13">
                    Yтро.ru                                        </a>
            </td>
            <td>
                2367                                    </td>
        </tr>
        <tr>
            <td class="number">36</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/46">
                    Colta                                        </a>
            </td>
            <td>
                1483                                    </td>
        </tr>
        <tr>
            <td class="number">37</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/23">
                    Новые Известия                                        </a>
            </td>
            <td>
                1360                                    </td>
        </tr>
        <tr>
            <td class="number">38</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/39">
                    Частный Корреспондент                                        </a>
            </td>
            <td>
                1173                                    </td>
        </tr>
        <tr>
            <td class="number">39</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/54">
                    Ридус                                        </a>
            </td>
            <td>
                1103                                    </td>
        </tr>
        <tr>
            <td class="number">40</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/25">
                    Свободная пресса                                        </a>
            </td>
            <td>
                1012                                    </td>
        </tr>
        <tr>
            <td class="number">41</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/4">
                    Говорит Москва                                        </a>
            </td>
            <td>
                859                                    </td>
        </tr>
        <tr>
            <td class="number">42</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/26">
                    Yoki.Ru                                        </a>
            </td>
            <td>
                401                                    </td>
        </tr>
        <tr>
            <td class="number">43</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/21">
                    Полит.ру                                        </a>
            </td>
            <td>
                325                                    </td>
        </tr>
        <tr>
            <td class="number">44</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/31">
                    Аргументы Недели                                        </a>
            </td>
            <td>
                206                                    </td>
        </tr>
        <tr>
            <td class="number">45</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/36">
                    Радио Свобода                                        </a>
            </td>
            <td>
                46                                    </td>
        </tr>
        <tr>
            <td class="number">46</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/55">
                    Электорат.Инфо                                        </a>
            </td>
            <td>
                41                                    </td>
        </tr>
        <tr>
            <td class="number">47</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/28">
                    NewsInfo                                        </a>
            </td>
            <td>
                12                                    </td>
        </tr>
        <tr>
            <td class="number">48</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/8">
                    Bigness.ru                                        </a>
            </td>
            <td>
                12                                    </td>
        </tr>
        <tr>
            <td class="number">49</td>
            <td class="entry">
                <a href="http://www.politonline.ru/massmedia/51">
                    BBCRussian.com                                        </a>
            </td>
            <td>
                3                                    </td>
        </tr>
        </tbody></table>
<div id="button-panel">
    <button id="converter">Convert html to pdf</button>
</div>
<div id="error">

</div>

<script type="application/javascript">
    $('#converter').on('click', function () {
        $('#button-panel').empty();
        var fd = new FormData();
        fd.append('html', $('#html').html());
        $.ajax({
            type: "post",
            url: 'https://social.newsteam.ru/services/htmlToPdf/generated',
            data: fd,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (json) {
                if (json.success = true)
                {
                    document.location.href = 'data:application/pdf;base64,' + json.base64;

                }
            }
        })
    })
</script>